In [1]:
s1='python'
s2="python"
s3='''python'''
s4="""python"""
print(s1,s2,s3,s4)

python python python python

In [2]:
s5="I don't want to learn python"
s6="Try and try until you succeed"
print(s5)
print(s6)

I don't want to learn python
Try and try until you succeed

In [9]:
s7='''This is Bhavani
Iam learning python'''
print(s7)
s7

This is Bhavani
Iam learning python

'This is Bhavani\nIam learning python'

### String Slicing

In [10]:
s1="python"
s1[5]

'n'

In [11]:
s1[0],s1[1],s1[2]

('p', 'y', 't')

In [12]:
s1[0:3]

'pyt'

In [13]:

print(s1[0:3:1])

pyt

In [14]:
print(s1[3:6])

hon

In [15]:
print(s1[:10])

python

In [16]:
print(s1[::2])

pto

In [17]:
print(s1[::3])

ph

In [18]:
print(s1[2:6:4])

t

In [19]:
print(s1[-1])

n

In [24]:
print[len(s1)-1]
s1[len(s1)-1]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [25]:
len(s1)

6

In [26]:
print(s1[::-1])

nohtyp

In [27]:
s1[len(s1)-1]

'n'

In [29]:
s1[::-1]

'nohtyp'

In [30]:
s1[len(-1)]

TypeError: object of type 'int' has no len()

In [31]:
s1[::2]

'pto'

In [32]:
s1[3:4]

'h'

In [33]:
s1="python"
s1[2:3:1]

't'

In [34]:
print(s7)

This is Bhavani
Iam learning python

In [35]:
s1[len(s1)-1]

'n'

In [36]:
s9='hii'
s9

'hii'

In [39]:
#Try to write value 77 in s1

print(s1)
s1 =77
print(s1)
#Try to change the second character of s2
print(s9)

77
77
hii

In [43]:

print(2==3)
print(2!=3)
print(5>6)
print(9>56)

False
True
False
False

In [44]:
print("2==3",2==3)
print("2!=3",2!=3)
print("5>6",5>6)
print("9>56",9>56)
print("-5>-9",-5>-9)
print("-5<-9",-5<-9)

2==3 False
2!=3 True
5>6 False
9>56 False
-5>-9 True
-5<-9 False

In [54]:
# check the following
print("0==0.0")
print(5== True)
print(-10==True)
print(0==True)
print("49"==49)
print(7>True)
print(7<False)

0==0.0
False
False
False
False
True
False

In [56]:
# how to read input from keyboard
name = input('Enter the name-')
print(name)

Enter the name-Bhavani Mohan
Bhavani Mohan

In [2]:
# Read both first name and last name from keyboard print output
# 1.Firstname Lastname Ex: Bhavani Vusavarthi
# 2.Lastname Firstname Ex:Vusavarthi Bhavani

t1=input(' Enter your First name')
t2=input('Enter your Last name')
        
print(t1,t2)
print(t2,t1)
print(t1+t2)

 Enter your First nameBhavani
Enter your Last nameVusavarthi
Bhavani Vusavarthi
Vusavarthi Bhavani
BhavaniVusavarthi

In [6]:
#Read two numbers from keyboard and print the sum.
a=int(input("enter the first number"))
b=int(input("enter the second number"))
print(type(a),type(b))
sum=a+b
print(sum)

enter the first number2
enter the second number3
<class 'int'> <class 'int'>
5

In [10]:
# Read on integer value and a string,repeat the string integer number of time
# Ex 3, hello
# output hellohellohello
a=int(input('enter the number:'))
word=input("enter the string:")
print(a*word)

enter the number:3
enter the string:hello
hellohellohello

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
s9='hello'
for i in s9:
    print(i)

h
e
l
l
o

In [16]:
for i in range(5):
    print(i)
print('end')

0
1
2
3
4
end

In [20]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [18]:
for i in range(5):
    print(i,end=",")

0,1,2,3,4,

In [21]:
print(45,69,sep=',')
print(45,69)

45,69
45 69

In [22]:
# conditional
# even odd
n=int(input("enter the number"))
if n%2==0:
    print(n,"is even")
else:
    print(n,"is odd")

enter the number34
34 is even

In [26]:
n1=int(input("enter the number"))
if n1>0:
    print(n1,'is positive')
elif n1<0:
    print(n1,'is negative')
if n1==0:
    print('zero')

enter the number-23
-23 is negative

In [38]:
# even -> check multiple of 8 or not
# odd -> check multiple of 7 or not
n1= int(input("enter the number"))
if n1%2:
    print(n1,'is odd')
    if n1%7==0:
        print(' multiple of 7')
    else:
        print('not a multiple of 7')
else:
    print(n1,'is even')
    if n1%8==0:
        print('multiple of 8')
    else:
        print('not a  multiple of 8')

enter the number32
32 is even
multiple of 8

In [30]:
if 1:
    print('one')
else:
    print('zero')

one

In [32]:
if 0:
    print('zero')
else:
    print('one')

one

In [48]:
n1= int(input("enter the number"))
if n1%2==0 and n1%8==0:
    print(n1,'is divisble by 2 and multiple of 8')
elif n1%2==1 and n1%7==0:
    print(n1,'is odd number multiple of 7')
else:
    print('does not satisfy the condition')

enter the number81
does not satisfy the condition

In [50]:
for i in range(1,10):
    if i%2==0:
        print(i,end=' ')

2 4 6 8

In [54]:
for i in range(2,11,2):
    print(i,end=' ')

246810

In [55]:
for i in range(1,1001):
    if i%7==0:
        print(i,end=' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 203 210 217 224 231 238 245 252 259 266 273 280 287 294 301 308 315 322 329 336 343 350 357 364 371 378 385 392 399 406 413 420 427 434 441 448 455 462 469 476 483 490 497 504 511 518 525 532 539 546 553 560 567 574 581 588 595 602 609 616 623 630 637 644 651 658 665 672 679 686 693 700 707 714 721 728 735 742 749 756 763 770 777 784 791 798 805 812 819 826 833 840 847 854 861 868 875 882 889 896 903 910 917 924 931 938 945 952 959 966 973 980 987 994

In [56]:
for i in range(7,1000,7):
    print(i,end=' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 203 210 217 224 231 238 245 252 259 266 273 280 287 294 301 308 315 322 329 336 343 350 357 364 371 378 385 392 399 406 413 420 427 434 441 448 455 462 469 476 483 490 497 504 511 518 525 532 539 546 553 560 567 574 581 588 595 602 609 616 623 630 637 644 651 658 665 672 679 686 693 700 707 714 721 728 735 742 749 756 763 770 777 784 791 798 805 812 819 826 833 840 847 854 861 868 875 882 889 896 903 910 917 924 931 938 945 952 959 966 973 980 987 994

In [57]:
for i in range(1,1001):
    if i%7==0 and i%2==0:
        print(i,end=' ')

14 28 42 56 70 84 98 112 126 140 154 168 182 196 210 224 238 252 266 280 294 308 322 336 350 364 378 392 406 420 434 448 462 476 490 504 518 532 546 560 574 588 602 616 630 644 658 672 686 700 714 728 742 756 770 784 798 812 826 840 854 868 882 896 910 924 938 952 966 980 994

In [59]:
for i in range(994,6,-7):
    print(i,end=' ')

994 987 980 973 966 959 952 945 938 931 924 917 910 903 896 889 882 875 868 861 854 847 840 833 826 819 812 805 798 791 784 777 770 763 756 749 742 735 728 721 714 707 700 693 686 679 672 665 658 651 644 637 630 623 616 609 602 595 588 581 574 567 560 553 546 539 532 525 518 511 504 497 490 483 476 469 462 455 448 441 434 427 420 413 406 399 392 385 378 371 364 357 350 343 336 329 322 315 308 301 294 287 280 273 266 259 252 245 238 231 224 217 210 203 196 189 182 175 168 161 154 147 140 133 126 119 112 105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [60]:
for i in range(50,101):
    if(i%2==1):
        print(i,end=' ')

51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [61]:
for i in range(99,50,-2):
    print(i,end=' ')

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51

In [1]:
i=1
while i<=10:
    print(i,end=' ')
    i=i+2

1 3 5 7 9

In [ ]:
i=1
while i<=100:
    if i%3==0:
        print(i,end=' ')
        i=i+1

In [ ]:
i=3
while i<=100:
    print(i,end=' ')
    i=i+3

In [ ]:
def factorslist(n):
    sum=0
    for i in range(1,n//2+1):
        if i%n==0:
            print(i,end=' ')
    print(n)
    return
factorslist(200)