### List

In [1]:
name="Bhavani"

In [6]:
myList=[]

In [7]:
print(type(name),type(myList))

<class 'str'> <class 'list'>

In [8]:
myList=list()
type(myList)

list

In [9]:
names=["Bhavani","Vusavarthi"]

In [10]:
type(names)

list

### finding number of items in List

In [11]:
len(names)

2

In [12]:
names[0]

'Bhavani'

In [13]:
names[1]

'Vusavarthi'

In [14]:
names[10]

IndexError: list index out of range

In [15]:
names[-1]

'Vusavarthi'

In [16]:
names[-2]

'Bhavani'

### List Methods

### 1) append(new_item)
* to add new item in the available List

In [17]:
names.append("Mohan")

In [18]:
print(names)

['Bhavani', 'Vusavarthi', 'Mohan']

In [19]:
new_persons=['Naveen','Kavya']

In [20]:
names.append(new_persons)

In [21]:
names

['Bhavani', 'Vusavarthi', 'Mohan', ['Naveen', 'Kavya']]

In [22]:
len(names)

4

In [23]:
names=["Bhavani","Vusavarthi","Mohan"]

In [24]:
new_persons=['Naveen','Kavya']

In [25]:
names.extend(new_persons)

In [26]:
names

['Bhavani', 'Vusavarthi', 'Mohan', 'Naveen', 'Kavya']

In [27]:
len(names)

5

In [33]:
Bhavani=[20,30,40]
Mohan=Bhavani

In [34]:
Bhavani,Mohan

([20, 30, 40], [20, 30, 40])

In [35]:
Bhavani.append(70)

In [36]:
Bhavani

[20, 30, 40, 70]

In [38]:
Mohan

[20, 30, 40, 70]

In [37]:
Bhavani,Mohan

([20, 30, 40, 70], [20, 30, 40, 70])

In [39]:
Bhavani=[20,30,40]
Mohan=Bhavani.copy()

In [41]:
Bhavani,Mohan

([20, 30, 40], [20, 30, 40])

In [42]:
Bhavani.append(70)
Bhavani,Mohan

([20, 30, 40, 70], [20, 30, 40])

In [43]:
names=["Bhavani,Mohan"]

In [44]:
names[0]="Anvitha"

In [45]:
names

['Anvitha']

In [46]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [47]:
names=['q','w','r']

In [48]:
names.clear()
names

[]

In [50]:
names.clear()
names

[]

In [51]:
numbers=[10,20,30,40,50,80]

In [52]:
numbers.count(10)

1

In [53]:
numbers.count(100)

0

In [57]:
numbers=[10,20,30,40,50,50[50,50]]

In [59]:
numbers.count(50)

1

### index(item)
* return index of first occurence of the item in List if available otherwise value error

In [62]:
numbers.index(50)

4

In [63]:
numbers.index(100)

ValueError: 100 is not in list

### index(item,starting,

In [64]:
numbers=[1,2,3,4,1,2,3,4,1,2,3]
numbers.index(3,4)

6

In [65]:
numbers=[1,2,3,4,1,2,3,4,1,2,3]
numbers.index(3,3)

6

In [ ]:
numbers=[1,2,3,4,5,6]

In [66]:
numbers.insert(3,4)

In [67]:
numbers

[1, 2, 3, 10, 4, 1, 2, 3, 4, 1, 2, 3]

### insert(index,item)
* -if given index available it can add item at given index otherwise add item in end of the list

In [68]:
numbers.insert(300,4)

In [69]:
numbers

[1, 2, 3, 10, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### pop,remove,reverse,sort

### pop

In [73]:
fruits=['apple','banana','cherry']
fruits.pop(0)

'apple'

In [2]:
fruits.pop(100)

NameError: name 'fruits' is not defined

In [1]:
[].pop()

IndexError: pop from empty list

### remove

In [76]:
fruits=['apple','banana','cherry']
fruits.remove('banana')

In [77]:
fruits

['apple', 'cherry']

### reverse

In [80]:
fruits=['apple','banana','cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

### sort

In [81]:
fruits=['apple','banana','cherry']
fruits.sort()
fruits

['apple', 'banana', 'cherry']

In [82]:
fruits=['apple','banana','cherry','strawberry','orange']
fruits.sort()
fruits

['apple', 'banana', 'cherry', 'orange', 'strawberry']

In [86]:
n=int(input('enter a number'))
num=n
sum=0
while n>0:
    r=n%10
    sum=sum+r*r*r
    n=n//10
if sum==num:
    print(num,"is armstrong")
else:
    print(num,"is not armstrong")

enter a number153
153 is armstrong

### find the given number is leap year or not

In [111]:
year=int(input('enter the year'))
if (year % 400 == 0 or (year % 100 != 0 and year % 4 ==0)):
    print('it is an leap year')
else:
    print('it is not a leap year')

enter the year2000
it is an leap year

### checking the number is a Palindrome or not

In [112]:
n=int(input('enter the number'))
if n == n[::-1]:
    print('it is a palindrome')
else:
    print('it is  not a palindrome')

enter the number121

TypeError: 'int' object is not subscriptable

In [ ]:
year=int(input('enter the year'))
n=startyear,endyear
if (year % 400 == 0 or (year % 100 != 0 and year % 4 ==0)):
    print('it is an leap year')
else:
    print('it is not a leap year')
    
#def generateLeapYears(startyear,endyear):
for n in range(startyear,endyear+1):
    if isLeapYear(year):
        print(year, end=" ")
return

#generateLeapYears(startyear,endyear)

### find the name of the student who got heighest total marks

In [3]:
students =[["sai",30,40,50],["ram",40,50,60]]

In [6]:
students =[["sai",30,40,50],["ram",40,50,60],["Mohan",80,70,60]]
name=""
total_marks=0
for i in students:
    if(sum(i[1:])>total_marks):
        name=i[0]
        #total_marks=student_total
print(name)

Mohan

In [7]:
myList =[[10,20],[45,30],[30,15]]

In [8]:
myList.sort()
myList

[[10, 20], [30, 15], [45, 30]]

In [9]:
#[[30,15],[10,20],[45,30]]

In [24]:
myList=[[10,20],[45,30],[30,15]]
if myList[0]<myList[-1]:
    print(myList)
#myList.sort()
#myList

[[10, 20], [45, 30], [30, 15]]

In [34]:
myList=[[10,20],[45,30],[30,15]]
myList.reverse()
myList
myList.sort()
myList
myList.reverse()
myList
myList.reverse()
myList
myList.reverse()
myList

[[45, 30], [30, 15], [10, 20]]

In [35]:
myList=[[10,20],[45,30],[30,15]]
for each in myList:
    each.reverse()
myList.sort()
for each in myList:
    each.reverse()
print(myList)

[[30, 15], [10, 20], [45, 30]]

### Tuples,(),
* tuple is the collection of items and it is immutable

In [36]:
myTuple=()

### count

In [37]:
myTuple =(10,30,"Mohan","True")
myTuple.count(10)

1

In [38]:
myTuple[-1]

'True'

### index()

In [39]:
myTuple.index(30)

1

In [40]:
myTuple.index(100)

ValueError: tuple.index(x): x not in tuple

In [41]:
numbers=(10,20,30)
sum(numbers)

60

In [42]:
numbers=(10,20,10,30,20)
sum(numbers)

90

In [43]:
min(numbers)

10

In [44]:
max(numbers)

30

### list slicing

In [45]:
numbers=[3,4,5,6,7,8]
numbers[0:3]

[3, 4, 5]

In [46]:
numbers[0:5:2]

[3, 5, 7]

In [47]:
numbers[:]

[3, 4, 5, 6, 7, 8]

In [48]:
numbers[5:1:-1]

[8, 7, 6, 5]

In [49]:
numbers[::-1]

[8, 7, 6, 5, 4, 3]

In [50]:
numbers[:-1]

[3, 4, 5, 6, 7]

In [51]:
numbers[-1:-1]

[]

In [52]:
numbers[-1::1]

[8]

### string slicing

In [53]:
name="Mohan"
name[::-1]

'nahoM'

### strings

In [57]:
name ="python programming"
name[0]
name[-1]

'g'

In [58]:
name[0]=10

TypeError: 'str' object does not support item assignment

### string methods
* 1)starts_with(sub_string)

In [59]:
name.startswith('python')

True

### 2)endswith(sub_string)

In [60]:
name.endswith('g')

True

### 3)upper()

In [61]:
name.upper()

'PYTHON PROGRAMMING'

### 4)lower()

In [62]:
'PYTHON'.lower()

'python'

### islower()

In [63]:
name='python'
name.islower()

True

In [64]:
name='pyThon'
name.islower()

False

### isupper()

In [65]:
name='python'
name.isupper()

False

### isdigit()

In [66]:
name='1234'
name.isdigit()

True

In [67]:
name.swapcase()

'1234'

In [68]:
'pYThoN'.swapcase()

'PytHOn'

In [69]:
name='Python'
name.isalpha()

True

In [70]:
name='Python156'
name.isalpha()

False

In [71]:
name='i am from vijayawada'
name.split()

['i', 'am', 'from', 'vijayawada']

In [73]:
name='i am from vijayawada'
name.split('m')

['i a', ' fro', ' vijayawada']

In [74]:
words =['i a','fro',' vijayawada']
'm'.join(words)

'i amfrom vijayawada'

In [75]:
words =['i a','fro',' vijayawada']
'm:'.join(words)

'i am:from: vijayawada'

In [76]:
words =['i a','fro',' vijayawada']
'@'.join(words)

'i a@fro@ vijayawada'

In [77]:
name = '  sairam  '
name.strip()

'sairam'

In [78]:
name.lstrip()

'sairam  '

In [79]:
name.rstrip()

'  sairam'

In [ ]:
sai
10
30
lakshmi
40
ram
done

In [1]:

n=int(input().split())
num=0
count=0
if(num.isdigit()):
    print(n)
    count+=1
if(num>count):
    print(num)
    return

12

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [2]:
num='123'
int(num)

123

In [ ]:
num='123'
int(num)