### Dictionary
* collection of items alligned with key value pair

In [1]:
myDict ={}
myDict =dict()

In [2]:
myDict ={'name':'Bhavani','branch':'CSE'}

In [3]:
len(myDict)

2

In [4]:
myDict['name']

'Bhavani'

In [5]:
myDict['mobile']='6303195147'
myDict

{'name': 'Bhavani', 'branch': 'CSE', 'mobile': '6303195147'}

In [6]:
dir(myDict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### Clear
* Removes all items in the dictionary

In [7]:
myDict.clear()
myDict

{}

In [8]:
myDict.clear()
myDict

{}

### copy()
* to take the new backup

### fromkeys()

In [9]:
students = ['Bhavani','Mohan']

In [10]:
{}.fromkeys(students)

{'Bhavani': None, 'Mohan': None}

In [11]:
{}.fromkeys(students,10)

{'Bhavani': 10, 'Mohan': 10}

In [ ]:
myDict ={'Bhavani':30,'Mohan':50}

In [12]:
students=['Bhavani','Mohan']
marks=[30,50]
myDict={}
for each in range(len(students)):
    myDict[students[each]]=marks[each]
myDict

{'Bhavani': 30, 'Mohan': 50}

### get(key)
* return value related to given key if available

In [14]:
myDict ={'name':'Naveen','Branch':'Mech'}
myDict.get('name')

'Naveen'

In [16]:
myDict ={'name':'Naveen','Branch':'Mech'}
print(myDict.get('class'))

None

In [17]:
myDict ={'name':'Naveen','Branch':'Mech'}
print(myDict.get('class','not available'))

not available

### items()
* returns all the items in dictionary

In [18]:
myDict.items()

dict_items([('name', 'Naveen'), ('Branch', 'Mech')])

In [20]:
for key in myDict:
    print(key)

name
Branch

In [21]:
for key in myDict:
    print(key,'--->',myDict[key])

name ---> Naveen
Branch ---> Mech

In [24]:
result=myDict.items()
for item in result:
    print(item[1])

Naveen
Mech

In [25]:
result=myDict.items()
for item in result:
    print(item)

('name', 'Naveen')
('Branch', 'Mech')

In [26]:
name='Bhavani'
freq={}



print(freq) # {'a':2,'i':1,'n':1,'b':1}

{}

In [3]:
myDict={}
name=myDict
f=0
for name in myDict:
    print(name)

In [23]:
name='Bhavani'

f={}
i=0
#count=0
#for name in myDict:
    #print(name)
for i in name:
    if i in f:
        f[i]+=1
    else:
        f[i]=1

print(f)

{'B': 1, 'h': 1, 'a': 2, 'v': 1, 'n': 1, 'i': 1}

In [20]:
name = 'Bhavani'
freq={}
for char in name:
    oldvalue=freq.get(char,0)
    freq[char]=oldvalue+1
print(freq)

{'B': 1, 'h': 1, 'a': 2, 'v': 1, 'n': 1, 'i': 1}

### pop()
* remove the item related to the given key

In [24]:
name='Bhavani'

In [25]:
freq.pop('n')

1

In [26]:
freq

{'B': 1, 'h': 1, 'a': 2, 'v': 1, 'i': 1}

In [29]:
freq.pop('l','key not found')

'key not found'

In [30]:
freq.pop('m')

KeyError: 'm'

In [31]:
freq.popitem()

('v', 1)

### setdefault()

In [32]:
freq.setdefault('a')

2

In [33]:
freq.setdefault('z')

In [34]:
freq

{'B': 1, 'h': 1, 'a': 2, 'z': None}

In [35]:
freq.setdefault('x',10)

10

In [36]:
freq

{'B': 1, 'h': 1, 'a': 2, 'z': None, 'x': 10}

### update(dict)

In [37]:
myDict ={'name':'Bhavani','phone':'6303195147'}
change ={'phone':'1234567890','location':'vijayawada'}
myDict.update(change)

In [38]:
myDict

{'name': 'Bhavani', 'phone': '1234567890', 'location': 'vijayawada'}

### values

In [39]:
myDict.values()

dict_values(['Bhavani', '1234567890', 'vijayawada'])

In [40]:
myDict.keys()

dict_keys(['name', 'phone', 'location'])

In [41]:
myDict.items()

dict_items([('name', 'Bhavani'), ('phone', '1234567890'), ('location', 'vijayawada')])

#### Sets

In [42]:
s={20,30,40}
type(s)

set

In [44]:
s1={20,30,40,20}
s1

{20, 30, 40}

In [45]:
s2={10,40,60}

In [46]:
s2

{10, 40, 60}

In [47]:
s1.union(s2)

{10, 20, 30, 40, 60}

In [48]:
s1.intersection(s2)

{40}

In [49]:
s1={1,2,3}
s2={1,2,3,4,5,6}

In [51]:
s1.issubset(s2)

True

In [53]:
s2.issuperset(s1)

True

In [54]:
s1.issuperset(s2)

False

In [55]:
s1={1,2,10}
s2={2,30,40}

In [56]:
s1.difference(s2)

{1, 10}

In [57]:
s2.difference(s1)

{30, 40}

In [58]:
s1

{1, 2, 10}

In [59]:
s1.difference_update(s2)

In [60]:
s1

{1, 10}

In [61]:
s1.add(100)

In [62]:
s1

{1, 10, 100}

In [63]:
s1.discard(10)

In [64]:
s1

{1, 100}

In [ ]:
s = ['sairam','lakshmi']
report = {'sairam':60,'lakshmi':120}
# 'sairam':60,'lakshmi':'120'

In [77]:
s = ['bhavani','lakshmi']
d = {} 
for word in s:
    total = 0
    for char in word:
        total += ord(char)
    while(len(str(total))>1):
        a = 0
        for k in str(total):
            a += int(k)
        total = a
    d[word]=a
print(d)
for key in d:
    if d[key] == min(d.values()):
        print(key)

{'bhavani': 9, 'lakshmi': 7}
lakshmi

In [93]:
students= [('sairam',[10,20,30]),('lakshmi',[30,40,50])]
report={}

for student in students: # accessing each student data
    name=student[0] # getting name of each student
    marks=sum(student[1]) #finding total marks
    report[name]=marks # saving data into dictionary
    
print(report)
for marks in student:
    if marks[0]>marks[1]:
        print( name)

{'sairam': 60, 'lakshmi': 120}
lakshmi

In [95]:
students= [('sairam',[30,40,50]),('lakshmi',[10,20,30])]
report={}

for student in students: # accessing each student data
    name=student[0] # getting name of each student
    marks=sum(student[1]) #finding total marks
    report[name]=marks # saving data into dictionary
    
print(report)

highMarks=max(report.values())
for student in report.items():
    if student[1]==highMarks:
        print(student[0])

{'sairam': 120, 'lakshmi': 60}
sairam

In [106]:
import re

str = "The rain in Spain"
x = re.search("Portugal", str)
print(x)

None

### print the names which can contain character 'a

In [107]:
names=['Bhavani','Mohan','Naveen']
for name in names:
    if re.search('a',name):
        print(name)

Bhavani
Mohan
Naveen

### special characters in regular expression pattern

* (dot)
    
    * any single character

In [108]:
re.search('.','python')

In [109]:
re.search('...','python')

### ^
* ^
    * starts with

In [110]:
re.search('^.','python')

### find the fruits with 6 characters length using re

In [111]:
fruits =['apple','orange','mango','grapes']
for fruit in fruits:
    if re.search('......',fruit):
        print(fruit)

orange
grapes

### $
    * ending with

In [112]:
re.search('n$','python')

In [105]:
re.search('n$','python')

In [113]:
re.search('..n$','python')

### {min,max}
    * select given range

In [116]:
re.search('.{3,5}','abc')

In [118]:
re.search('.{3,5}$','1234567')

In [119]:
re.search('.{3,5}','1234567')

In [120]:
re.search('.{3,5}$','1234567')

In [122]:
re.search('^.{5}$','12345')

In [125]:
result=re.search('..$','ramu')
result.group()

'mu'

In [126]:
import re

str = "The rain in Spain"
x = re.findall("Portugal", str)
print(x)

[]

In [128]:
names =['sairam','lakshmi','ramu','raju','hemanth']
for name in names:
    result=re.search('...$',name)
    print(result.group())

ram
hmi
amu
aju
nth

In [130]:
names =['Bhavani','Mohan','Kavya','Naveen','Tanuja']
for i in names:
    result=re.search('....',i)
    print(result.group())

Bhav
Moha
Kavy
Nave
Tanu

### \d
    * single digit

In [131]:
re.search('\d','sai123')

In [133]:
re.search('\d\d','sai123')

In [134]:
re.search('\d{3}','sai123')

In [139]:
re.search('\d{2}3','sai1223')

### \D
    * otherthan digit

In [140]:
re.search('\D','sai123')

In [141]:
re.search('\D\D\D','sai123')

In [142]:
re.search('\D{3}','sai123')

In [143]:
re.search('\D',' 123 sai123')

In [149]:
mobiles=['1234567890','98483616690','234567891119']
for mobile in mobiles:
    if re.search('^\d{10}$',mobile):
        print(mobile)

1234567890

In [146]:
mobiles=['1234567890','98483616690','234567891119']
for mobile in mobiles:
    if re.search('\d{10}$',mobile):
        print(mobile)

1234567890
98483616690
234567891119

In [169]:
mobiles=['1234567890','98483616690','234567891119']
for mobile in mobiles:
    if re.search('^9\d{10}$',mobile):
        print(mobile)

98483616690

In [165]:
mobiles=['1234567890','98483616690','234567891119']
for mobile in mobiles:
    if re.search('^\d{10}$',mobile):
        print(mobile)

1234567890

In [154]:
mobiles=['1234567890','98483616690','234567891119','8888691230']
for mobile in mobiles:
    if re.search('^\d{10}$',mobile):
        print(mobile)

1234567890
8888691230

In [170]:
mobiles=['1234567890','98483616690','234567891119','8888691230']
for mobile in mobiles:
    if re.search('^[9876]\d{10}$',mobile):
        print(mobile)

98483616690

### []
    * one of the character in []

In [155]:
re.search('[abc]','sairam')

In [156]:
re.search('[abc]','xyz')

In [157]:
re.search('[123]','abc123rt')

In [159]:
re.search('[123]','abc213')

In [161]:
re.search('[123]','sairam')

###

In [172]:
re.search('\$','45$')

In [173]:
re.search('\^','^45$')

### *
    Zero or more

In [176]:
re.search('s*','sai')

In [177]:
re.search('s*','sssssai')

In [178]:
re.search('s*','asssssai')

In [179]:
re.search('.*','sai')

In [180]:
re.search('^p.*n$','python')

In [181]:
re.search('.*','python')

In [182]:
re.search('.*','python12')

### +
    * one or more

In [183]:
re.search('a+','qweaaaavbn')

In [185]:
re.search('p+','qweaaaavbn')

In [186]:
emails=['bhavanivusavarthi@gmail.com','mohan@gmail.com']
for email in emails:
    if re.search('[a-zA-z]+@gmail\.com',email):
        print(email)

bhavanivusavarthi@gmail.com
mohan@gmail.com

In [188]:
emails=['bhavanivusavarthi@gmail.com','mohan123@gmail.com']
for email in emails:
    if re.search('[a-zA-z0-9]+@gmail\.com',email):
        print(email)

bhavanivusavarthi@gmail.com
mohan123@gmail.com

In [192]:
emails=['bhavanivusavarthi@gmail.com','mohan123@gmail.com','naveen 123@gmail.com']
for email in emails:
    if re.search('^[a-zA-z0-9]+@gmail\.com$',email):
        print(email)

bhavanivusavarthi@gmail.com
mohan123@gmail.com

### \s
* spacing character

In [194]:
re.search('\s',' python')

### \w
* select identifers a-z A-Z 0-9

In [195]:
re.search('\w','_abc')

In [196]:
data=""" 
sai 100
ram 200
 500 lakshmi

"""

In [205]:
numbers=re.findall('\d+',data)
total=0
for each in numbers:
    total+=int(each)
print(total)

800

In [206]:
re.findall('\d',data)

['1', '0', '0', '2', '0', '0', '5', '0', '0']