In [2]:
# Function to print all combinations of
# [1,2,3] ->(1,2),(1,3),(2,3) -> 3C2 -> 3!/((3-2)!*2!)

# [1,2,3,4] -> (1,2)(1,3)(1,4)(2,3)(2,4)(3,4)

def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
li=[1,2,3,4]
combinations2(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [8]:
# [1,2,3,4] -> 1,2,3  1,2,4  1,3,4  2,3,4

def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4]
combinations3(li)

1 2 3
1 2 4
1 3 4
2 3 4

In [9]:
def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4,5]
combinations3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [10]:
# Another way of combinations3
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4,5]
combinations3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [13]:
# [1,2,3]  difference -> [1,2,3]
def differencePairs(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li:
                li.append(d)
    return li
li=[1,2,3]    
differencePairs(li)

[1, 2, 3]

In [23]:
# [1,2,3]  difference -> [1,2,3] #1-2=1 3-2=1 already there

def medium()
def differencePairs(li):
    cli = li
    newelements=[]
    
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d = abs(li[i]-li[j])
            if d not in cli:
                newelements.append(d)
    return newelements
li=[1,9,8,7,6,2,5,3,4]    #1-9=8 # all the differences of elements are there in the list
differencePairs(li)

[]

In [1]:
# [1,2,3]  difference -> [1,2,3] #1-2=1 3-2=1 already there

def medium(li):
    #li3 =[[],li]
    count =1
    while(True):
        li3=differencePairs(li)
        if li3[0]==li3[1]:
            break
    return li3[0]
        
def differencePairs(li):
    cli = li[:]
    newelements=[]
    
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li=[1,6]    #1-9=8 # all the differences of elements are there in the list
medium(li)

[1, 6, 5, 4, 3, 2]

In [7]:
# [1,2,3]  difference -> [1,2,3] #1-2=1 3-2=1 already there
# Kth largest frequency

def medium(li,k):
    #li3 =[[],li]
    count =1
    while(True):
        li3=differencePairs(li)
        if li3[0]==li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0],reverse=True)[k-1]
        
def differencePairs(li):
    cli = li[:]
    newelements=[]
    
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li=[1,3,5]    #1-9=8 # all the differences of elements are there in the list
medium(li,2)

4

In [10]:
def medium(li,k):
    #li3 =[[],li]
    #count =1
    while(True):
        li3=differencePairs(li)
        if li3[0]==li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1
    
# Function to identify differences of all pairs of numbers and add those differences to the same list       
def differencePairs(li):
    cli = li[:]
    newelements=[]
    
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li=[1,9,8,7]    #1-9=8 # all the differences of elements are there in the list
differencePairs(li)

[[1, 9, 8, 7], [1, 9, 8, 7, 6, 2]]

In [12]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
# Convert the list into an
# Arithmetic Progression

[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

[3, 8, 15, 5, 2, 1, 4, 6, 7, 9, 10, 11, 12, 13, 14]

In [15]:
# Convert the list into an
# Arithmetic Progression

def differencePairs(li):
    c=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return li
    
li =[2,3,6,9,12]
differencePairs(li)

[2, 3, 6, 9, 12, 1, 4, 7, 10]

In [17]:
[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]
# Convert the list into an
# Arithmetic Progression

def differencePairs(li):
    c=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [c,li]
    
li =[2,3,6,9,12,1,4,7,10]
differencePairs(li)

[[2, 3, 6, 9, 12, 1, 4, 7, 10], [2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]]

### Set - Data Structure in Python

Represented by {}

In [18]:
a={1,2,3,4,5,6,6}
a

{1, 2, 3, 4, 5, 6}

In [19]:
a={1,2,3,4,5,6,6}
a.add(7)
a

{1, 2, 3, 4, 5, 6, 7}

In [20]:
a={1,2,3,4,5,6,6}
a.add (7) # Adding a single element to a set

for i in a:
    print(i,end=' ') # -> Accessing elements in a set

1 2 3 4 5 6 7

In [22]:
a={1,2,3,4,5,6,6}
a.add (7) # Adding a single element to a set

for i in a:
    print(i,end=' ') # -> Accessing elements in a set
    
b={7,8,9,1,2,3}

a.update(b)
a

1 2 3 4 5 6 7

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
a={1,2,3,4,5,6,6}
a.add (7) # Adding a single element to a set

for i in a:
    print(i,end=' ') # -> Accessing elements in a set
    
b={7,8,9,1,2,3}
li =[11,12,13,1]

a.update(b,li) # Adding Multiple elements in a set
a

1 2 3 4 5 6 7

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [27]:
# Remove the elements

a.discard(13)
a.remove(11)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}

In [28]:
# Remove the elements

a.discard(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}

In [30]:
# Union
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
a.union(b)

# A U B =B U A

b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
# Intersection
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
a.intersection(b)

{1, 2, 3}

In [32]:
a.isdisjoint(b)

False

In [36]:
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={111,123}
a.intersection(b)
a.isdisjoint(c)

True

In [37]:
a-b # All elements of a not in b

a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={111,123}
a-b
b-a

{7, 8, 9}

In [38]:
sorted(a)

[1, 2, 3, 4, 5, 6, 10]

In [39]:
a^b # Elements either in a or in b

{4, 5, 6, 7, 8, 9, 10}

In [40]:
d=set() # Create an empty set
d

set()

In [41]:
li=[1,2,3,4,2,1,2,3,4]
u=set(li)
u

{1, 2, 3, 4}

In [ ]:
Procedural : C
    
Object Oriented : Java,Python

Scripting : PHP,Python,Javascript,Shell,Perl

Functional : Python, Haskell, Scala
    
Logic : Prolog,Lisp

### List Comprehensions

In [45]:
# N natural numbers in a list

n=10
li=[]
for i in range(1,n+1):
    li.append(i)
    
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
# Apply list comprehension to store the cubes on n natural numbers

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [49]:
# Function to calculate the m factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n*factorial(n-1)

# Apply list comprehension to calculate factorial of n natural numbers

n=5
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120]

In [50]:
# Function to calculate the m factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n*factorial(n-1)

# Apply list comprehension to calculate factorial of n natural numbers

n=15
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1,
 2,
 6,
 24,
 120,
 720,
 5040,
 40320,
 362880,
 3628800,
 39916800,
 479001600,
 6227020800,
 87178291200,
 1307674368000]

In [55]:
# Store cumulative sum of numbers till n in a list
# n=5 [1,3,6,10,15]
n=6
cumulativeSum= [sum(range(1,i+1)) for i in range(1,n+1)] 
cumulativeSum

[1, 3, 6, 10, 15, 21]

In [56]:
# List Comprehension to store only leap years in a given time period

st = 1970
et = 2019
#leapYears =[1972,1976,1980,....2016]
leapyears=[i for i in range(st,et+1) 
           if i%400 ==0 or(i%100!=0 and i%4==0)]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [60]:
li=[1,2,3,2,1]
unique=[]
unique=[i for i in li if li.count(i)==1]
unique

[3]

In [70]:
li=[1,2,3,2,1,4,4,5,6,5,5]
li.sort()
u2=[]
unique=[]
unique=[li[i] for i in range(0,len(li)-1) if li[i]!=li[i+1] and i<len(li)-1) or i==len(li)-1]
#unique =[u2.append(i)for i in li if i not in u2]
unique

[2, 2, 1, 4, 5]

In [67]:
sorted(li)

[1, 1, 2, 2, 3, 4, 4, 5, 5, 5, 6]

In [71]:
sorted(li)[0]

1

### Iterators

Iterable - Strings,Lists,Tuples,Sets,Dictionaries